
.short-bio{
  color: #000410;
  font-family:Helvetica;;
  font-size: 11pt;
  line-height: 1em;
}

.foot{
  color: #131d8a;
  font-family:Helvetica;
  font-size: 10pt;
  font-style:italic;
  text-align: center;
  line-height: 0.5em;
}

#world-map-container {
  position:fixed !important;
  background-color: rgb(80, 80, 80);
  position:absolute;
  top:45px;
  right:0;
  bottom:0;
  left:0;
}

body {
  top: 45px;
}

.map-hide {
  opacity : 0;
  position : absolute;
  top : 0;
  z-index : -1;
}

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  overflow-y: scroll;
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 8px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
