
<br />
<div class="row">
  <div class="large-12">
    <div id="myAlertBox" data-alert class="alert-box success round">
      Welcome Back {{username}} 
      <a ng-click="hideAlertBox()" class="close">&times;</a>
    </div>
  </div>
</div>


<div class="row">
  <div class="large-9 columns">
    <h1>List of Olympics</h1>
      <table>
        <thead>
          <tr>
            <th width="50px">ID</th>
            <th width="100px">Year</th>
            <th width="100px">Season</th>
            <th width="200px">Country</th>
            <th width="200px">City</th>
            <th width="200px">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="olympic in olympics">
            <td>{{olympic.id}}</td>
            <td>{{olympic.year}}</td>
            <td>{{olympic.season}}</td>
            <td>{{olympic.country}}</td>
            <td>{{olympic.city}}</td>
            <td>
              <a href="/#/admin/olympics/{{olympic.id}}" class="tiny button">Show</a>
              <a href="/#/admin/olympics/{{olympic.id}}/edit" class="tiny button">Edit</a>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="large-3 columns">
    <div class="row">
      <br>
      <br>
      <br>
      <br>
      <br>
      <a class="button alert" href="/#/admin/olympics/new">New Olympic</a>
    </div>
  </div>
</div>
