

<div class="row">

<div ng-show={{!isEditForm}}>
<h2>Create a new olympics</h2>
</div>

<form ng-submit="submitForm()">

<fieldset>
  <div class="row">
    <div class="small-8">
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Year</label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="right-label" name="year" ng-model="olympic.year">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-8">
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Season</label>
        </div>
        <div class="small-9 columns">
          <select ng-model="olympic.season" ng-options="season for season in seasons"></select>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-8">
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Country</label>
        </div>
        <div class="small-9 columns">
          <select ng-model="olympic.country" ng-options="name for name in country_names"></select>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-8">
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">City</label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="right-label" name="city" ng-model="olympic.city">
        </div>
      </div>
    </div>
  </div>

  <div>
    <input type="submit" class="button small" value="Create">
  </div>
  </fieldset>

</form>

</div>
