
<div class="row">
  <div class="large-3 columns">
    <ul class="pricing-table" style="padding-left:0px">
      <li class="title">Olympic Summary</li>
      <li class="price"># {{olympic.id}}</li>
      <li class="bullet-item">{{olympic.year}}</li>
      <li class="bullet-item">{{olympic.season}}</li>
      <li class="bullet-item">{{olympic.country}}</li>
      <li class="bullet-item">{{olympic.city}}</li>
    </ul>
  </div>

  <div class="large-9 columns">
    <div class="row">
      <dl class="tabs" data-tab>
        <dd class="active" id="tab2-1"><a id="link2-1"># of Athletes</a></dd>
        <dd id="tab2-2"><a id="link2-2"># of Medals</a></dd>
      </dl>
      <div class="tabs-content">
        <div class="content active" id="panel2-1">
          <worldmap data="olympicAthletes" name="olympicAthletes" mapHeight="600px"></worldmap>
        </div>
        <div class="content active map-hide" id="panel2-2">
          <worldmap data="olympicMedals" name="olympicMedals" mapHeight="600px"></worldmap>
        </div>
      </div>
    </div>

    <div class="row">
      <h3>Participating Athletes</h3>
      <table id = "table">
        <thead>
          <th>ID</th>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Last Name</th>
          <th>Country</th>
          <th>Sport</th>
          <th>DOB</th>
        </thead>
        <tbody>
          <tr ng-repeat="athlete in athletes | paginate">
            <td>{{athlete.id}}</td>
            <td>{{athlete.first_name}}</td>
            <td>{{athlete.middle_name}}</td>
            <td>{{athlete.last_name}}</td>
            <td>{{athlete.country}}</td>
            <td>{{athlete.sport}}</td>
            <td>{{athlete.dob}}</td>
          </tr>
        </tbody>
      </table>
      <paginator></paginator>
    </div>
  </div>
</div>
