<!DOCTYPE html>
<html>

<head>
	<title>Olympics</title>

	<!-- Stylesheets -->

	<link rel="stylesheet" href="components/foundation/css/foundation.min.css">
	<link rel="stylesheet" href="components/foundation/css/normalize.css">
	<link rel="stylesheet" href="vendor/stylesheets/jquery-jvectormap-1.2.2.css">
	<link rel="stylesheet" href="stylesheets/main.css">
	<link rel="stylesheet" href="components/ion.rangeSlider/css/normalize.min.css">
	<link rel="stylesheet" href="components/ion.rangeSlider/css/ion.rangeSlider.css">
	<link rel="stylesheet" href="components/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css">


	<!-- Bower Components -->
	<script type="text/javascript" src="components/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="components/ion.rangeSlider/js/ion.rangeSlider.js"></script>

	<!-- Vendor -->
	<script type="text/javascript" src="vendor/scripts/jquery-jvectormap-1.2.2.min.js"></script>
	<script type="text/javascript" src="vendor/scripts/jquery-jvectormap-world-mill-en.js"></script>


	<!-- Angular Components -->
	<script type="text/javascript" src="components/angular/angular.min.js"></script>
	<script type="text/javascript" src="components/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="components/angular-resource/angular-resource.min.js"></script>
	<script type="text/javascript" src="components/lodash/dist/lodash.min.js"></script>
	<script type="text/javascript" src="components/restangular/dist/restangular.min.js"></script>
	<script type="text/javascript" src="components/foundation/js/foundation.min.js"></script>

</head>

<body>
	<div id="container" ng-app="olympicDashboard">
		<div id="navigationbar" class="contain-to-grid fixed">
			<nav class="top-bar" data-topbar>
				<ul class="title-area">
					<li class="name">
						<h1><a href="/">Home</a></h1>
					</li>
					<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
					<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
				</ul>

				<section class="top-bar-section">
					<!-- Right Nav Section -->
					<ul class="right">
						<li class="divider"></li>
						<li> <a class="button" ng-show="isLoggedIn" ng-click="logOut()">Logout</a></li>
						<li class="divider"></li>
						<li><a href="/#/olympics">Index</a></li>
						<li class="divider"></li>
						<li class="has-dropdown not-click">
							<a href="#">Admin</a>
							<ul class="dropdown">
								<li><a href="/#/admin/olympics">Admin Page</a></li>
							</ul>
						</li>
					</ul>

					<!-- Left Nav Section -->
					<ul class="left">
						<li><a href="/#/about">About Us</a></li>
					</ul>
				</section>
			</nav>
		</div>


		<!-- Views will be rendered here -->
		<div id="viewContainer">
			<div ng-view>
			</div>
		</div>
		<!--            -->

	</div>

</body>



<!-- Slider -->

<script type="text/javascript" src="components/venturocket-angular-slider/build/angular-slider.js"></script>
<script type="text/javascript" src="components/angular-touch/angular-touch.js"></script>


<!-- PLEASE DONT change the ORDER of the FILES -->


<script type="text/javascript" src="scripts/directives/paginate.js"></script>
<script type="text/javascript" src="scripts/directives/world-map.js"></script>
<script type="text/javascript" src="scripts/directives/world-map-selected.js"></script>
<script type="text/javascript" src="scripts/directives/country-code.js"></script>
<script type="text/javascript" src="scripts/directives/modal-dialog.js"></script>
<script type="text/javascript" src="scripts/directives/groupBy.js"></script>

<script type="text/javascript" src="scripts/app.js"></script>
<script type="text/javascript" src="scripts/services/session.js"></script>
<script type="text/javascript" src="scripts/controllers/IndexOlympicCtrl.js"></script>
<script type="text/javascript" src="scripts/controllers/newOlympicCtrl.js"></script>
<script type="text/javascript" src="scripts/controllers/EditOlympicCtrl.js"></script>
<script type="text/javascript" src="scripts/controllers/ShowOlympicCtrl.js"></script>
<script type="text/javascript" src="scripts/controllers/HomePageCtrl.js"></script>
<script type="text/javascript" src="scripts/controllers/LoginCtrl.js"></script>
<script type="text/javascript" src="scripts/controllers/aboutCtrl.js"></script>


<script type="text/javascript" src="scripts/routes.js"></script>



</html>
