
<div id="world-map-container">
  <div class="row">
    <div class="large-12 columns">
    	<worldmap name="worldMap" data="mapData" mapHeight="500px"></worldmap>
      <!-- <worldmapselect ng-show="showPart" name="worldMapSelected" data="countries" mapHeight="500px"></worldmapselect> -->
    </div>
  </div>

	<div class="row">
		<div class="large-9 columns">
      <br>
			<input type="text" id="year_slider" name="example_name" value="" />
		</div>
		<div class="large-3 columns">
			<form name = "info">
        <label style="color:white">Filter By
          <select style="color:black" ng-model="selectedInfo">
            <option value="athletes">Athletes</option>
            <option value="medals">Medals</option>
            <option value="part">Participating Countries</option>
          </select>
        </label>
        <div>
    			<button id="advanced_filter" ng-click="toggleModal()" class="button tiny">Advanced Filter</button>
        </div>
			</form>
		</div>
	</div>
</div>


<modal-dialog show='modalShown' width='750px' height='60%' style="overflow-y:scroll">
<table>
	<thead>
		<th></th>
		<th>Image</th>
		<th>Name</th>
		<th>Description</th>
	</thead>
	<tbody>
		<tr>
			<td>
				<input type="radio" name="currSport" ng-model="currSport.selected" value="ALL">
			</td>
			<td></td>
			<td>ALL</td>
			<td>All the sports in the database</td>
		</tr>
	</tbody>
	<tbody ng-repeat="sport in sports | orderBy:'season' | groupBy:'season'">
		<tr ng-show="sport.season_CHANGED">
			<td colspan="4" style="text-align:center;" ng-show="sport.season_CHANGED"><h3>{{sport.season}} Sports</h3></td>
		</tr>
		<tr valign="middle" ng-show="sport.season_CHANGED">
			<td ng-show="sport.season_CHANGED">
				<input type="radio" name="currSport" ng-model="currSport.selected" value="{{sport.name}}">
			</td>
			<td ng-show="sport.season_CHANGED">{{sport.photo}}</td>
			<td ng-show="sport.season_CHANGED">{{sport.name}}</td>
			<td ng-show="sport.season_CHANGED">{{sport.description | limitTo:200}}</td>
		</tr>
		<tr>
			<td colspan="4" style="text-align:center;" ng-hide="sport.season_CHANGED"></td>
		</tr>
		<tr valign="middle" ng-hide="sport.season_CHANGED">
			<td ng-hide="sport.season_CHANGED">
				<input type="radio" name="currSport" ng-model="currSport.selected" value="{{sport.name}}">
			</td>
			<td ng-hide="sport.season_CHANGED">{{sport.photo}}</td>
			<td ng-hide="sport.season_CHANGED">{{sport.name}}</td>
			<td ng-hide="sport.season_CHANGED">{{sport.description | limitTo:200}}</td>
		</tr>
		<tr>
			<td colspan="4" style="text-align:center;" ng-show="sport.season_CHANGED"></td>
		</tr>
	</tbody>
</table>

</modal-dialog>
